@{
    ViewBag.Title = "Generate OTP";
}

@using (Html.BeginForm("GenerateNumericOTP", "OTPgenerator"))
{
    <table>
        <tr>
            <td>Click on button to Generate Numeric OTP :</td>
            <td><input id="Submit1" type="submit" value="Generate OTP" /></td>
        </tr>
        <tr>
            <td></td>
            <td>@ViewBag.otp</td>
        </tr>
    </table>
}
@using (Html.BeginForm("GenerateAlphaNumericOTP", "OTPgenerator"))
{
    <table>
        <tr>
            <td>Click on button to Generate Alphanumeric OTP :</td>
            <td><input id="Submit1" type="submit" value="Generate OTP" /></td>
        </tr>
        <tr>
            <td></td>
            <td>@ViewBag.anotp</td>
        </tr>
    </table>
}