@{
    ViewData["Title"] = "About Us";
    ViewData["Subs"] = "Genuine Information";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Subs"]</h2>

<p>This web application has been developed by using ASP.NET Core MVC.</p>

<p>Thanks you!!!</p>

<p>You have checked in here last at : @DateTime.Now</p>